.itemDetailContainer{
    height: auto;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border-top: .1rem solid #dfdfdf;
}

.itemDetailContainerItem{
    padding: 20px 20px 50px 20px;
}