a.button1 {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid #eee;
    margin: 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

a.button1:hover {
    background-color: #fbb72c;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
    }
}

@media only screen and (max-width: 500px) { 
    a.button1 {
        padding: 3px 5px 3px 5px;
        border: 1px solid #eee;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {
    a.button1 {
        padding: 5px 10px 5px 10px;
        border: 1px solid #eee;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    a.button1 {
        padding: 5px 10px 5px 10px;
        border: 1px solid #eee;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a.button1 {
        padding: 5px 15px 5px 15px;
        border: 1px solid #eee;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    a.button1 {
        padding: 5px 15px 5px 15px;
        border: 1px solid #eee;
    }
}